.transportation{
  margin: 15px auto;
}
.thingsToDo{
  height: $mapHeight;
  overflow: scroll;
}
.todoListHeader{
  h3{
    color: $white;
    margin: 15px 0 0 0;
  }
}
.todoCatList{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.todoCat{
  display: inline-block;
}
.todoListCol{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  li{
    display: inline-block;
    float: none;
    margin: 15px 15px 15px 0px;
    padding: 15px;
    h4, h5{
      text-align: center;
    }
    h4{
      margin: 15px 0 0 0;
      a{
        padding: 15px;
        &:hover{
          background-color: $blue!important;
          border-color: $blue!!important;
          color: $whiteMed!important;
        }
      }
    }
    h5{
      margin: 15px 0 0 0;
    }
    p{
      margin-bottom: 15px;
      a{
        padding: 15px 15px 0px 15px;
      }
    }
    a{
      border-bottom: 1px solid;
      display: block;
      margin: 0px auto;
      width: 100%;
    }
  }
}
.todo{
  display: flex;
  margin: 0;

  h3{
    color: $whiteMed!important;
    text-align: right;
    padding-right: 15px;
  }
}

@media (max-width : 1024px){
  .todoCatList{
    text-align: center;
  }
  .todoListCol{
    flex-direction: column;
  }
  .todoListHeader{
    h3{
      margin: 0px;
    }
  }
}
