.greetings{
  max-width: 1000px;
  width: 100%;
}
.guideLink{
  border : 0px!important;
  margin: 15px 0 0 0!important;
  span{
    color: $blackLight;
  }
}
.hotel{
  float: none;
}
.hotelAbout{
  h2, h3, h4, p{
    text-align: center;
  }
}
.icon{
  margin-top: 15px;
}
.thingsToDo{
  height: $mapHeight;
  overflow: scroll;
}
.todoCat{
  margin-top: 30px;
}
.todoList{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  li{
    display: inline-block;
    float: none;
    margin: 0;
    padding: 15px;
    text-align: center;
    width: 100%;
    .card{
      margin: 15px auto;
    }
    h4, h5{
      text-align: center;
    }
    h4{
      margin: 15px 0 0 0;
      a{
        padding: 15px;
        &:hover{
          background-color: $blue!important;
          border-color: $blue!!important;
          color: $whiteMed!important;
        }
      }
    }
    h5{
      margin: 0;
    }
    p{
      margin-bottom: 15px;
    }
    a{
      border-bottom: 1px solid;
      display: block;
      margin: 5px auto;
      width: 100%;
    }
  }
}
.todoListHeader{
  width: 100%;
  h3{
    margin-bottom: 0px;
  }
}
.transportation{
  list-style: none;
  margin: 0px;
  padding: 0px;

  li{
    display: inline-block;
    padding: 0 15px 15px 15px;
  }
}

@media (min-width : $screensTabletStart){
  .hotel{
    float: right;
  }
  .hotelAbout{
    h2, h3, h4, p{
      text-align: left;
    }
  }
  .todoList{
    li{
      width: 50%;
      &:nth-child(even){
        text-align: left;
      }
      &:nth-child(odd){
        text-align: right;
      }
    }
  }
}
