.guideLink{
  border : 0px!important;
  margin-top: 15px!important;
}
.hotel{
  float: none;
}
.hotelAbout{
  h2, h3, h4, p{
    text-align: center;
  }
}
.icon{
  margin-top: 15px;
}
.thingsToDo{
  height: $mapHeight;
  overflow: scroll;
}
.todo{
  display: flex;
  margin: 0;

  h3{
    color: $whiteMed!important;
    text-align: right;
    padding-right: 15px;
  }
}
.todoCat{
  display: inline-block;
  width: 100%;
}
.todoCatList{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.todoListCol{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  text-align: left;
  li{
    display: inline-block;
    float: none;
    margin: 15px auto;
    padding: 15px;
    h4, h5{
      text-align: center;
    }
    h4{
      margin: 15px 0 0 0;
      a{
        padding: 15px;
        &:hover{
          background-color: $blue!important;
          border-color: $blue!!important;
          color: $whiteMed!important;
        }
      }
    }
    h5{
      margin: 0;
    }
    p{
      margin-bottom: 15px;
    }
    a{
      border-bottom: 1px solid;
      display: block;
      margin: 5px auto;
      width: 100%;
    }
  }
}
.todoListHeader{
  h3{
    color: $white;
    margin: 0;
  }
}
.transportation{
  list-style: none;
  margin: 0px;
  padding: 0px;

  li{
    display: inline-block;
    padding: 0 15px 15px 15px;
  }
}

@media (min-width : $screensTabletStart){
  .hotel{
    float: right;
  }
  .hotelAbout{
    h2, h3, h4, p{
      text-align: left;
    }
  }
  .todoCat{
    width: auto;
  }
  .todoCatList{
    text-align: left;
  }
  .todoListCol{
    flex-direction: row;

    li{
      margin: 15px 15px 15px 0px;;
    }
  }
  .todoListHeader{
    h3{
      margin: 15px 0 0 0;
    }
  }
}

@media (min-width : 1024px){
  .listItem{
    &:last-child{
      margin-right: 0px;
    }
  }
}
