.item{
  border-top: 1px solid $whiteDark;
  padding: 30px 0;
}
.itemTitle {
  margin: 0px;
  text-align: left;
}
.itemDescription {
  margin: 0 0 15px 0;
  text-align: left;
}
.paypal {
  input[type="image"]{
    height: 40px!important;
    margin: 15px 0 0 0;
  }
}
.complete{
  pointer-events: none;
}
.thanks{
  margin: 15px 0 0 0;
  text-align: left;
}

@media (min-width : $screensTabletStart){
  .itemTitle, .itemDescription {
    margin: 0;
    text-align: right;
  }
  .thanks{
    margin: 0px;
    text-align: center;
  }
}
