.borderTop{
  text-align: center;
  svg{
    width: 50%;
  }
}
.borderBtm{
  text-align: center;
  svg{
    width: 50%;
    transform: rotate(180deg);
  }
}
.pageHeader{
  composes: leroy from 'styles/type';
  color: $green;
  margin: 0 auto 30px auto;
}
.euc{
  display: inline-block;
  width: 40px;
  position: relative;
  top: 30px;
}
.eucLeft{
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
}
