/*layout*/

.header, .date {
  composes: shadowed from 'styles/app';
}

.headerImg{
  width: 300px;
}

.pageHeader{
  composes: tCenter from 'styles/app';
  border: 0px;
  img{
    margin-top: -40px;
    max-width: 600px;
  }
}

.mainGrid{
  min-height: 100vh;
  padding: 15px 15px 30px 15px;
  width: auto;
  z-index: 0;
}

.date{
  font-size: 50px;
  composes: shadowed from 'styles/app';
  margin-top: 10px;
}

.initials{
  composes: leroy from 'styles/type';
}

.location{
  font-size: 40px;
  composes: shadowed from 'styles/app';
  margin-top: 10px;
}

/* footer */
  .footer {
    composes: tCenter from 'styles/app';

    background-color: $whiteDark;
    font-size: 0.6em;
    height: $footerHeight;
    width: 100%;
    p {
      margin-bottom: 0px;
    }
  }
  .footerEuc{
    display: inline-block;
    margin: 0 auto;
    padding: 30px;
    transform: scaleX(-1) rotate(90deg);
    width: $footerHeight;
  }
  .footerEucTwo{
    transform: scaleX(-1) rotate(-90deg);
  }
  .eucOneContainer{
    text-align: right;
  }
  .eucTwoContainer{
    text-align: left;
  }

/*menu*/
  .menu{
    list-style: none;
    li{
      display: inline-block;
      padding: 10px;
      margin: 5px;
    }
  }
  .menuLink{
    display: block;
    padding: 10px;
    composes: cursive from 'styles/type';
    text-decoration: none;
  }
  #mainMenu{
    float: right
  }
  #footerMenu{
    float: none;
    text-align: center;
    li{
      display: inline-block;
      a{
        color: $black;
        font-size: 0.9rem;
        &:hover{
          background-color: $whiteDark!important;
        }
      }
    }
  }
  #navList{
    float: right;
  }
  #navToggle{
    border-color: $blackLight;
  	-webkit-transition: $linkTransition;
  	transition: $linkTransition;
    span{
      background-color: $blackLight;
    }
    &:hover{
      background-color: $blueDark;
      border-color: $blueDark;
      color: $whiteDark;
      -webkit-transition: $linkTransition;
      transition: $linkTransition;
      span{
        background-color: $whiteDark;
      }
    }
  }


@media(max-width: 768px){
  #navList{
    float: left;
  }
  #mainMenu{
    text-align: right;
  }
  .eucOneContainer, .eucTwoContainer{
    display: none;
  }
}
