/*layout*/
.header, .date {
  composes: shadowed from 'styles/app';
}

.headerImg{
  width: 300px;
}

.mainGrid{
  min-height: 100vh;
  padding: 15px 0px 0px 0px;
  width: auto;
  z-index: 0;
}

.homeGrid{
  min-height: 100vh;
  padding: 0;
  width: auto;
  z-index: 0;
}

.date{
  composes: shadowed from 'styles/app';

  font-size: 50px;
  margin-top: 10px;
}
.location{
  composes: shadowed from 'styles/app';

  font-size: 40px;
  margin-top: 10px;
}

/* footer */
  .footer {
    composes: tCenter from 'styles/app';

    background-color: $whiteDark;
    font-size: 0.6em;
    height: $footerHeight;
    min-width: $minScreen;
    overflow: hidden;
    width: 100%;

    p {
      margin-bottom: 0px;
    }
  }
  .footerEuc{
    display: none;
    margin: 0 auto;
    opacity: 0.5;
    padding: 30px;
    transform: scaleX(-1) rotate(105deg);
    width: $footerHeight;
  }
  .footerEucOne{
    float: right
  }
  .footerEucTwo{
    float: left;
    transform: scaleX(-1) rotate(-105deg);
  }

/*menu*/
  .menu{
    list-style: none;
    li{
      display: inline-block;
      padding: 10px;
      margin: 5px;
    }
  }
  .menuLink{
    display: block;
    padding: 10px;
    composes: cursive from 'styles/type';
    text-decoration: none;
  }
  #mainMenu{
    float: right;
    width: 100%;
    li{
      border-bottom: 1px solid $grayLightest;
      text-align: right;
      &:last-child{
        border-bottom: 0px;
      }
    }
  }
  #mainMenu > li > a , .navInitials{
      color: $blackLight;
      &:hover{
        color: $green!important;
      }
  }
  .navInitials{
    color: $blackLight!important;
    composes: leroy from 'styles/type';
  }
  #footerMenu{
    float: none;
    text-align: center;
    li{
      display: inline-block;
      a{
        background-color: transparent!important;
        color: $blueDark;
        font-size: 0.9rem;
        &:hover, &:focus{
          background-color: transparent!important;
          color: $green;
        }
      }
    }
  }
  #navList{
    float: left;
  }
  #navToggle{
    border-color: $grayLight;
  	-webkit-transition: $linkTransition;
  	transition: $linkTransition;
    span{
      background-color: $grayLight;
    }
    &:hover{
      background-color: $blueDark;
      border-color: $blueDark;
      color: $whiteDark;
      -webkit-transition: $linkTransition;
      transition: $linkTransition;
      span{
        background-color: $whiteDark;
      }
    }
  }


@media (max-width : $screensMobileEnd){
  #mainMenu{
    li{
      clear: both;
      float: right;
      display: inline;
      width: auto;
    }
  }
}

@media (min-width : $screensTabletStart){
  #mainMenu{
    width: auto;
    li{
      border: 0px;
      text-align: left;
    }
  }
  #navList{
    float: right;
  }
  .footerEuc{
    display: inline-block;
  }
}
