/*rsvp*/

.label{
  padding-left: 10px;
}

.rsvpForm{
  text-align: center;
}

.person{
  margin-bottom: 30px;
}
/*
.person:not(:first-child){
  .name{
    margin: 30px 0 0 0;
  }
}*/


.attending{
  margin-top: 20px;
}


@media (max-width : 768px){
  .name{
    text-align: left;
  }
}
