/*rsvp*/

.label{
  padding-left: 10px;
}

.rsvpForm{
  text-align: center;
}

.person{
  margin-bottom: 30px;
}

.name{
}

.radioRow{
  background-color: $white;
  border: 5px solid $whiteMed;
  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  border-radius: $borderRadius;
}

.attending{
  margin-top: 20px;
}
