html {
  font-size: 100%;
  height: 100%;
  min-width: 280px;
}

body {
  background-color: $whiteMed !important;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: georgia, serif;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}
.layoutContainer{
  flex: 1;
  min-height: 100vh;
}

/* cards */
  .card{
    background-color: $white;
    border: 1px solid $whiteDark;
    padding: 30px;
    h2{
      margin-top: 0;
    }
    label{
      color: $blackLight;
    }
  }
  .cardImage{
    background-image: url('images/Haeckel_Muscinae.png');
    background-size: cover;
    background-position: center center;
    border-color: $greenDark;

    a{
      color: $greenMuted;
    }
    .cardContent{
      background-color: $whiteMed;
      margin: 0 auto;
      padding: 30px 15px;
    }
  }

/*form*/
  .matGroup{
    padding: 0;
    position: relative;
  }
  .matGroup:after, .matGroup:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $gray;
    bottom: 0;
    left: 0;
    transition: all $linkTransitionSpeed;
  }
  .matInput{
    background: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 8px 0;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .matInput:focus::after {
    transform: scaleX(1);
  }
  input:-webkit-autofill{
    background-color: $white!important;
    -webkit-box-shadow: 0 0 0px 1000px $white inset!important;
  }
  .matLabel{
    color: $gray;
    display: block;
    font-size: 16px;
    transform: translateY(25px);
    transition: all $linkTransitionSpeed;
  }

  .matGroup::after {
    background-color: $blue;
    transform: scaleX(0);
  }

  .isActive::after {
    transform: scaleX(1);
  }

  .isActive .matLabel {
    color: $blue;
  }

  .isCompleted .matLabel {
    font-size: 12px;
    transform: translateY(0);
  }


/* links */
  a {
    color: $blue;
    text-decoration: none;
  	-webkit-transition: $linkTransition;
  	transition: $linkTransition;

    &:hover{
      color: $greenLight!important;
      cursor: pointer;
      text-decoration: none;
    	-webkit-transition: all 250ms ease;
    	transition: all 250ms ease;
    }
    &:focus{
      text-decoration: none;
      color: $blueDark;
    }
  }
  .button{
    background-color: $btnSubmit;
    border-radius: 0px;
    color: $whiteMed;
    margin: 15px auto 0 auto;
  	-webkit-transition: all 250ms ease;
  	transition: all 250ms ease;
    &:hover{
      background-color: $greenLight!important;
      color: $whiteDark!important;
    }
  }

/* sections */
  .section{
    display: block;
    float: left;
    margin: 30px 0;
    padding: 0px 15px;
    width: 100%;
    .row{
      margin: 0;
    }
  }
  .sectionDark{
    padding: 30px 15px;

    h1, h2, h4{
      color: $whiteMed;
    }
    h3, p{
      color: $whiteDark;
    }
    .button{
      border-color: $whiteDark;
    }
  }
  .sectionBlue{
    composes: sectionDark;

    background-color: $blueDark;
  }
  .sectionGreen{
    composes: sectionDark;

    background-color: $greenDark;
  }
  .sectionWhiteDark{
    background-color: $whiteDark;
    padding: 30px 15px;
  }
  .sectionWhite{
    background-color: $white;
    padding: 30px 15px;
  }
  .sectionWhiteMed{
    background-color: $whiteMed;
    padding: 30px 15px;
  }
  .sectionGrayLight{
    background-color: $grayLightest;
    padding: 30px 15px;
  }

/* text */
  h1, h2, h3, h4, h5, p{
    text-align: center;
    font-weight: normal;
  }
  h1 {
    font-family: 'fontleroybrownregular', sans-serif;
    font-size: 4.5rem;
    color: $black;
    margin: 0 auto 15px auto;
  }
  h2 {
    color: $black;
    font-family: 'GreatVibes', sans-serif;
    font-size: 2.5rem;
    margin: 15px 0 15px 0;
  }
  h3 {
    color: $black;
    font-family: georgia, serif;
    font-size: 1.6rem;
    margin: 0px auto 15px auto;
  }
  h4 {
    color: $blackLight;
    font-family: georgia, serif;
    font-size: 1.3rem;
    margin: 15px auto;
  }
  h5 {
    color: $black;
    font-family: georgia, serif;
    font-size: 1.1rem;
    margin: 15px auto;
  }
  h6 {
    color: $blackLight;
    font-size: 1.1rem;
    margin: 15px auto;
  }
  p {
    color: $blackLight;
    font-size: 0.9rem;
    line-height: 1.1;
    margin: 0 0 1rem;
  }
  .smallType{
    font-size: 0.6rem;
  }

  .tCenter {
    text-align: center;
  }
  .shadowed{
    text-shadow: 0 1px 1px $gray;
  }
  .withoutLineHeight{
    line-height: 0;
  }

/* images */
  img{
    max-width: 100%;
  }

/* list */
  .list {
    li{
      list-style: none;
      padding: 0;
    }
  }

/* margin and alignment */
  .center {
    margin: 0 auto;
  }
  .verticalContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
  }
  .verticallyAligned{
    display: table-cell;
    vertical-align: middle;
  }
  .marginBtmLg{
    margin-bottom: $marginLg;
  }
  .clearfix{
    clear: both;
  }
  .verticalCol{
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
/* menu */
  .mainMenu{
    background-color: $whiteMed!important;
    border-bottom: 1px solid $whiteDark;
    z-index: 1000;
  }

/* page */
  .pageDetails{
    text-align: center;
  }

/* panel */
  .panel{
    background-color: #fefefa!important;
  }
  .panelHeader{
    composes: GreatVibes from 'styles/type';
    composes: shadowed;
    background-color: $green!important;
    color: $white!important;
    font-size: large;
    font-weight: bold;
    letter-spacing: 10px;
  }

/* 404 */
  .fourOhFour{
    composes: tCenter;
  }

@media print {

  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
