html {
  font-size: 100%;
  /*min-height: 100%;*/
  height: 100%;
}

body {
  background-color: $white !important;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: georgia, serif;
  /*height: 100%;*/
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}
.layoutContainer{
  flex: 1;
  min-height: 100vh;
}
.card{
  background-color: $whiteMed;
  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  border-radius: $borderRadius;
  padding: 30px;
  h2{
    margin: 0;
  }
  h3{
    color: $blackLight;
  }
  label{
    color: $blackLight;
  }
}

/*form*/
  .matGroup{
    padding: 0;
    position: relative;
  }
  .matGroup:after, .matGroup:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $gray;
    bottom: 0;
    left: 0;
    transition: all $linkTransitionSpeed;
  }
  .matInput{
    background: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 8px 0;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .matInput:focus::after {
    transform: scaleX(1);
  }
  .matLabel{
    color: $gray;
    display: block;
    font-size: 16px;
    transform: translateY(25px);
    transition: all $linkTransitionSpeed;
  }

  .matGroup::after {
    background-color: $blue;
    transform: scaleX(0);
  }

  .isActive::after {
    transform: scaleX(1);
  }

  .isActive .matLabel {
    color: $blue;
  }

  .isCompleted .matLabel {
    font-size: 12px;
    transform: translateY(0);
  }


/* links */
  a {
    color: $blue;
  	-webkit-transition: $linkTransition;
  	transition: $linkTransition;

    &:hover{
      color: $greenLight!important;
      cursor: pointer;
      text-decoration: none;
    	-webkit-transition: all 250ms ease;
    	transition: all 250ms ease;
    }
  }
  .button{
    background-color: $btnSubmit;
    border-color: $btnSubmit;
    color: $white;
    margin: 15px auto 0 auto;
  	-webkit-transition: all 250ms ease;
  	transition: all 250ms ease;
    &:hover{
      background-color: $blueDark;
      border-color: $blueDark;
      color: $whiteDark;
    }
  }
  .buttonAction{
    background-color: $btnAction;
  }


/* text */
  h1, h2, h3, h4, h5, p{
    text-align: center;
    font-weight: normal;
  }
  h1 {
    font-family: 'fontleroybrownregular', sans-serif;
    font-size: 4rem;
    color: $black;
  }
  h2 {
    color: $blackLight;
    font-family: 'GreatVibes', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  h3 {
    color: $blackLight;
    font-family: georgia, serif;
    /*font-family: 'GreatVibes', sans-serif;*/
    /*font-family: 'fontleroybrownregular', sans-serif;*/
    font-size: 1.5rem;
    margin-top: 0;
  }
  h4 {
    color: $blackLight;
    font-family: georgia, serif;
    font-size: 1.3rem;
  }
  h5 {
    color: $blackLight;
    font-family: georgia, serif;
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1.1rem;
  }
  p {
    line-height: 1.1;
    margin: 0 0 1rem;
  }

  .tCenter {
    text-align: center;
  }
  .shadowed{
    text-shadow: 0 1px 1px $gray;
  }
  .withoutLineHeight{
    line-height: 0;
  }

/* images */
  img{
    max-width: 100%;
  }

/* list */
  .list {
    li{
      list-style: none;
      padding: 0;
    }
  }

/* margin and alignment */
  .center {
    margin: 0 auto;
  }
  .verticalContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
  }
  .verticallyAligned{
    display: table-cell;
    vertical-align: middle;
  }
  .marginBtmLg{
    margin-bottom: $marginLg;
  }

/* menu */
  .mainMenu{
    background-color: $whiteMed!important;
    z-index: 1000;
    /*.brand-logo{
      padding: 0 10px!important;
    }
    a{
      color: $blue;
      &:hover{
        color: $blueDark!important;
      }
    }
    .navbar-toggle{
      border-color: $blackLight!important;
    }*/
  }

/* page */
  .pageDetails{
    text-align: center;
  }

/* panel */
  .panel{
    background-color: #fefefa!important;
  }
  .panelHeader{
    composes: GreatVibes from 'styles/type';
    composes: shadowed;
    background-color: $green!important;
    color: $white!important;
    font-size: large;
    font-weight: bold;
    letter-spacing: 10px;
  }

/* 404 */
  .fourOhFour{
    composes: tCenter;
  }

@media print {

  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
