@font-face {
    font-family: 'GreatVibes';
    src: url('../../../static/vendor/great-vibes/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DeutschGothic';
    src: url('../../../static/vendor/rothenburgdecorative_regular_macroman/rothenbg-webfont.eot');
    src: url('../../../static/vendor/rothenburgdecorative_regular_macroman/rothenbg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../static/vendor/rothenburgdecorative_regular_macroman/rothenbg-webfont.woff') format('woff'),
         url('../../../static/vendor/rothenburgdecorative_regular_macroman/rothenbg-webfont.ttf') format('truetype'),
         url('../../../static/vendor/rothenburgdecorative_regular_macroman/rothenbg-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fontleroybrownregular';
    src: url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.eot');
    src: url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.woff') format('woff'),
         url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.ttf') format('truetype'),
         url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.svg#fontleroybrownregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





.gothic{
  font-family: 'DeutschGothic', sans-serif;
}
.cursive{
  font-family: 'GreatVibes', sans-serif;
}
.leroy{
  font-family: 'fontleroybrownregular', sans-serif;
}
