@font-face {
  font-family: 'GreatVibes';
  font-style: normal;
  font-weight: 400;
  src: url('../../../static/vendor/great-vibes/great-vibes-v4-latin-regular.eot');
  src: local('GreatVibes'), local('GreatVibes-Regular'),
       url('../../../static/vendor/great-vibes/great-vibes-v4-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../../../static/vendor/great-vibes/great-vibes-v4-latin-regular.woff2') format('woff2'),
       url('../../../static/vendor/great-vibes/great-vibes-v4-latin-regular.woff') format('woff'),
       url('../../../static/vendor/great-vibes/great-vibes-v4-latin-regular.ttf') format('truetype'),
       url('../../../static/vendor/great-vibes/great-vibes-v4-latin-regular.svg#GreatVibes') format('svg');
}

@font-face {
    font-family: 'fontleroybrownregular';
    src: url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.eot');
    src: url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.woff') format('woff'),
         url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.ttf') format('truetype'),
         url('../../../static/vendor/fontleroybrown/FontleroyBrown-webfont.svg#fontleroybrownregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.cursive{
  font-family: 'GreatVibes', sans-serif;
}
.leroy{
  font-family: 'fontleroybrownregular', sans-serif;
}
